<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>

    <session-factory>
	
            <!--      Configuração SQL Server -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.datasource">java:/comp/env/jdbc/tcc</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.show_sql">true</property>    
        <property name="hibernate.default_catalog">tcc</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        
<!--        Mapeamento das classes-->
     
        <mapping class="br.com.tcc.sctd.model.Botao" />
        <mapping class="br.com.tcc.sctd.model.Cargo" />
        <mapping class="br.com.tcc.sctd.model.Cor" />
        <mapping class="br.com.tcc.sctd.model.Departamento" />
        <mapping class="br.com.tcc.sctd.model.Especialidade" />
        <mapping class="br.com.tcc.sctd.model.Funcionario" />        
        <mapping class="br.com.tcc.sctd.model.FuncionarioStatus" />        
        <mapping class="br.com.tcc.sctd.model.Linha" />        
        <mapping class="br.com.tcc.sctd.model.Modelo" />
        <mapping class="br.com.tcc.sctd.model.Produto" />
        <mapping class="br.com.tcc.sctd.model.Tecido" />
        <mapping class="br.com.tcc.sctd.model.Tipo" />
        <mapping class="br.com.tcc.sctd.model.TipoEspecialidade" />
        <mapping class="br.com.tcc.sctd.model.Usuario" />
        <mapping class="br.com.tcc.sctd.model.TipoAvaliacao" />
        <mapping class="br.com.tcc.sctd.model.Transportadora" />
        <mapping class="br.com.tcc.sctd.model.Cliente" />
        <mapping class="br.com.tcc.sctd.model.PessoaFisica" />
        <mapping class="br.com.tcc.sctd.model.PessoaJuridica" />
        <mapping class="br.com.tcc.sctd.model.Endereco" />
        <mapping class="br.com.tcc.sctd.model.Produto" />
        <mapping class="br.com.tcc.sctd.model.Entrega" />
        <mapping class="br.com.tcc.sctd.model.ItemVenda" />
        <mapping class="br.com.tcc.sctd.model.Venda" />
        
                
       

    </session-factory>

</hibernate-configuration>
	
