body { 
    margin: 0;
    padding: 0;
    width: 100%;
    font: 62.5%/160% sans-serif;
    display:   ".aaaaa."
        "......." /0.5em
        ".bbbbb."
        ".c.d.e."
        "......." /0.5em
        ".fffff." 
        * 18em .2em minmax(420px,660px) .2em 16em *; 
    background: #f1e3b9;   
}
/* Notar: 
1-) Os espaçamentos nas extremidades foram definidos com largura asterísco (*)
isto é elásticos. Consequência: o layout é centrado na página. Não precisa margin: 0 auto; 
2-) A coluna principal é elástica e vai de mínimo 420px a máximo 660px. Propriedade minmax */

#principal { 
    position: d; 
    text-align:justify;
    padding: 0 1.5em;
    font-size: 1.2em;
}
#nav-hor { 
    position: b; 
    background:  #4690da;
    margin: 0;
    padding: .5em;
}
#navegacao {
    position: c; 
    padding: 0 10px;
}
#auxiliar {
    position: e; 
    padding: 0 10px;
}
#rodape { 
    position: f;  
    text-align: center;
    font-size: 1.1em;
}
body::slot(c)  {  
    background: #e8f1fa; 
}
body::slot(d) {
    background: #fff; 
}
body::slot(e) {
    background: #e8f1fa;
}