span.destaque{
    padding-left: 20px;
}

#mytable {
    width: 100%;
    padding: 0;
    margin: 0;
}

caption {
    padding: 10px 0 5px 0;
    width: 100%;	 
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 9px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #66A3D3; 
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #F4F9FE;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
    font: 9px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}


td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff url(images/bullet1.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa url(images/bullet2.gif) no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}    




.myform{
    margin:0 auto;
    width: 680px;
    padding:14px;
    height: 100%;

}

fieldset#fdFuncionarios {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    border: 1px groove #B7DDF2;
    border-collapse: collapse;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #EBF4FB;
    padding-bottom: 10px;

}
fieldset#fdFuncionarios ul, fieldset#fdFuncionarios li{
    border:0; margin:0; padding:0; list-style:none;
    margin-bottom: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding-left: 5px;

}

fieldset#fdFuncionarios li{
    clear:both;
    list-style:none;
    padding-bottom:10px;   
}
fieldset#fdFuncionarios label{
    float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: pointer;
    padding-left: 5px;
    width: 100px;
}

fieldset#fdFuncionarios label.grd{
    float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: pointer;
    padding-left: 5px;
    width: 470px;
}   
fieldset#fdFuncionarios label.med{
    float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: pointer;
    padding-left: 5px;
    width: 330px;
}     

fieldset#fdFuncionarios label.peq{
    float:left;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    cursor: pointer;
    padding-left: 5px;
    width: 80px;
}    

